body{
    margin: 2px;
}

header{
    padding: 2px;
}

p{
    color: white;
}

section{
    margin: 50px 0;
}

.debug > *{
    border: 1px dashed black;
}

.row{
    margin: 0 -2px;
    height: 50px;

    margin-bottom: 4px;
}

.row > [class^='column']{
    padding: 0 2px;
}

.card{
    height: 100%;
    background-color: #166CFA;

    padding: 5px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.nested-card{
    height: 80%;
    width: 90%;
    background-color: green;

    display: flex;
    justify-content: center;
    align-items: center;
}
